* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.body {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  transition: all 0.4s ease-in-out;
}

@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scale(0);
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  height: 25vh;
  width: 100vw;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  overflow: scroll;
}
header > h1 {
  margin-left: 5mm;
}
header > img {
  margin-left: 10mm;
  height: 90px;
  width: 80px;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}
header > h2 {
  margin-left: auto;
}

form {
  height: 6vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 0;
}
form > input {
  height: 100%;
  border-width: 2mm;
  border-color: maroon;
  padding: auto;
}
div > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 6vh;
  width: 80vw;
  background-color: green;
  color: white;
}
.img {
  height: 65vh;
  width: auto;
  object-fit: cover;
}
.margin {
  margin-right: 10mm;
}

.container {
  text-align: center;
}
.image-container {
  position: relative;
  display: inline-block;
  animation: scaleAnim 1s ease-in-out;
}

.topText,
.bottomText {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
  cursor: grab;
  user-select: none;
}
.topText {
  top: 10px;
}

.bottomText {
  bottom: 10px;
}
